
<div class="page-header">
  <div class="container">
      <nav class="nav">
          <!-- <a class="logotype" href="">EG</a> -->
          <h2 class="logo-title">EG Dance School</h2>

        <button  type="button" class="menu-button" aria-expanded="false" data-menu-button>
            <svg  width="40px" height="40px" aria-label="Переключатель мобильного меню">
                <use class="icon-cross" href="./images/sprite.svg#menu-close"></use>
                <use class="icon-menu" href="./images/sprite.svg#menu"></use>
            </svg>
        </button>

        <div class="menu-container" data-menu>

            <ul class=" list list-nav">
                <li class="list-nav__item item">
                     <a class="link list-nav__link" href="">О нас</a></li>
                <li class="list-nav__item item">
                     <a class="link list-nav__link" href="">Галерея</a></li>
                <li class="list-nav__item item">
                     <a class="link list-nav__link" href="">Тренера</a></li>
                <li class="list-nav__item item">
                     <a class="link list-nav__link" href="">Контакты</a></li>
            </ul>
            <ul class=" list list-nav">
                <li class="list-nav__item item"> 
                    <a class="link list-nav__link" href="tel:+380961234567">+38 096 123 45 67</a></li>
                <li class="list-nav__item item"> 
                    <a class="link list-nav__link" href="mailto:dance@mail.com">dance@mail.com</a></li>
            </ul>

        </div>
        </nav>

        <div class="main-carousel" data-flickity='{ "autoPlay": true }'>
            <div class="carousel-cell" data-slide>
                <h2>content</h2>
                <!-- <img src="./images/slider1-backgroound-img.jpg" width="480" alt=""> -->
            </div>

            <div class="carousel-cell" data-slide>
                <!-- <img src="./images/h4-slider2-backgroound-img.jpg" width="480" alt=""> -->
            </div>

            <div class="carousel-cell" data-slide>
                <!-- <img src="./images/h4-slider3-backgroound-img.jpg" width="480" alt=""> -->
            </div>
        </div>
    </div>      
</div>
        
      
   
